<style>
  .diksha-dashbord{
    background-color:#F8F8F8;
    padding: 50px 0;
  }
  .view-dashboards{
    display: flex;
    justify-content: center;
    margin: 40px 0;
 
  }
  .view-dashboards button{
    font-size: 15px;
    background-color: #0C4E9E;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    border-color: transparent;
  }

 
/*=============END SLIDER==================*/
</style>
 
<div class="diksha-dashbord">
  <div class="container">
    <div class="container-box">
      <div class="head-title">
        <span class="text">
          <span data-translate="diksha">
            {{ site.data.text.diksha }}
          </span>
          <span class="title-diksha-color" data-translate="dashboard">{{ site.data.text.dashboard }}</span></span>
        <div class="date-time">                      
          <!-- <span data-translate="lastupdated">{{ site.data.text.lastupdated }}</span>: <span class="updatedOn"></span></div> -->
      </div>
     
      <div class="row">
        
          <div class="col-md-3">
            <div class="dashbord-wrappe">
              <div class="data-head">
                  <div class="data_title">
                    <span class="title-icon"><img src=""></span>
                    
                    <span class="title-text"></span>
                  </div>
              </div>
              <div class="data-graph">

              </div>
              <div class="data-detail">
                
              </div>
              <div class="data-footer">

              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
          <div class="col-md-3"></div>
        </div>
      
       
      </div>
  </div>
  <div class="view-dashboards">  
    <button tabindex="0" class="view-dashboard" category="usage" data-translate="btnViewDashboard">{{ site.data.text.btnViewDashboard }}</a> </button>
  </div>
</div>